.content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    >div{
        height: 120px;
        width: 46%;
        margin-right: 2%;
    
        background: #ccc;
        line-height: 120px;
        text-align: center;
    }
}
.footer{
    height: 50px;
    width: 100%;
    background: red;
}