*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.aa{
  width: 100%;
  height: 100px;
  background: rgb(150, 207, 112);
  margin-top:10px; 
}
.tab{
  width: 100%;
  height: 50px;
  display: flex;
}
.tab a{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ac{
  background: rgb(224, 57, 35);
  color: #fff;
}
.da{
  width: 100%;
  height: 200px;
  background: rgb(29, 202, 173);
  margin-top:10px; 
 
  
}
.da h2{
  text-align: center;
}
h3{
  margin-top:20px; 
  padding-left:10px; 
}
.da span{
  display: flex;
  font-size: 14px;
  flex-direction: column;
}