*{
  margin: 0;
  padding: 0;
  list-style: none;
}
html,body,#root,#root>div{
  height: 100%;
  width: 100%;
}
#root>div{
  display: flex;
  flex-direction: column;
}
#root>div>div{
  flex: 1;
}
footer{
  height: 50px;
  width: 100%;
  display: flex;
}
footer dl {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer dl dt{
  height: 30px;
  width: 30px;
}
footer dl dt img{
  height: 100%;
  width: 100%;
}