* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.index {
    position: relative;
}

.sou {
    width: 100%;
    height: 44px;
    background: #289ea8
}

.item {
    width: 100%;
    height: 100px;
}

.er {
    width: 100%;
    height: 44px;
    background: rgb(151, 147, 88);
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 111;

    .tab {
        flex: 8.5;
        background: rgb(36, 113, 185);
        display: flex;
        width: 100%;
        height: 44px;

        a {
            flex: 1;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .icon {
        flex: 1.5;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
            background: #fff;
            transition: all 1s;
        }

        .bian {
            transform: rotate(180deg)
        }
    }
}

.mark {
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}

.nav {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 88px;
    background: #fff;
    z-index: 100;
}

.none {
    display: none;
}

.car {
    width: 100%;
    height: 30px;
    display: flex;

    img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    span {
        margin-left: 20px;
    }
}

.asd {
    position: fixed;
    top: 14%;
    left: 90%;

    li {
        width: 20px;
        height: 23px;
        background: rgb(36, 113, 185);
        color: #fff;
        line-height: 23px;
        text-align: center;
        margin-top: 2px;
    }
}

.qwe {
    transition: all 1s;
}