*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
}
.ac{
  background: hotpink;
  color: #fff;
}
.aa {
  width: 100%;
  height: 50px;
  display: flex;
}
.aa a{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.da{
  width: 100%;
  height: 120px;
  display: flex;
}
.da .zuo{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.da .zuo img{
  width: 60%;
  height: 80%;
}
.da .you{
  flex: 6;
}
.da .you p{
  line-height: 35px;
}
.da .you p b{
  color: red;
}
.imgs{
  width: 100%;
  height: 180px;
  position: relative;
}
.imgs img{
  width: 100%;
  height: 100%;
}
.yuan{
  width: 90px;
  height: 90px;
  background: #000;
  margin: 0 auto;
  border-radius:50%; 
  position: absolute;
  left:40%;
  top:20%;

}
.yuan img{ 
  width: 100%;
  height: 100%;
} 
.h2{
  width: 100%;
  height: 50px;
  margin-top:40px;
  text-align: center; 
}