* {
  margin: 0;
  padding: 0;
}

.ac {
  color: blue;
}

.tou {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.tou .zuo {
  flex: 5;
}

.tou .you {
  flex: 5;
}

h1 {
  width: 100%;
  text-align: center;
}

.shang {
  width: 100%;
  height: 40px;
  display: flex;
  opacity: 0;
  position: sticky;
  top: 0;
  opacity: 1;
  z-index: 222;
  background: #fff;
}

.shang span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}

.shou {
  width: 100%;
  height: 50px;
  display: inline-block;
}
