*{
  margin: 0;
  padding: 0;
}
.da{
  width: 200px;
  height: 200px;
  background:rgb(0, 0, 0,0.6) ;
  z-index: 20;

}
.da .xiao{
  width: 100px;
  height: 100px;
  background: rgb(211, 208, 208);
  z-index: 19px;
}
.none{
  display: none;
}

