.bigbox{
    height: 100%;
    width: 100%;
    display: flex;
    .left{
        width: 30%;
        height: 100%;
    }
    .right{
        width: 70%;
        height: 30%;
        overflow: auto;
    }
    .active{
        color: red;
    }
}