*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    
}
// img{
//     width: 100px;
//     height: 100px;
// }
html,body,#root,#ll{
    width: 100%;
    height: 100%;
}
#ll{
    display: flex;
    flex-direction: column;
    .shang{
        flex: 1;
        display: flex;
   

        .zuo{
            flex: 2.5;
            // background: red;
            border-right: 1px solid #ccc; 
            p{
                width: 100%;
                height: 40px;
                line-height: 40px;
                text-align: center;
            }
        }
        .you{
            flex: 7.5;
            // background: olivedrab;
        }
        
    }
    .xia{
        flex: 1;
        display: flex;
        flex-direction: column;
        .gouwu{
            width: 100%;
            height: 120px;
            border-bottom:1px solid #ccc; 
            display: flex;
            margin-top:5px; 
            
            img{
                width: 90px;
                height: 120px;
            } 
            span{
                color: red;
                font-size: 20px;
            }
            button{
                width: 20px;
                height: 20px;
            }
        }

    }
}
.ac{
    background: orange;
    color: #fff;
}
footer{
    border-top:1px solid #ccc; 
    width: 100%;
    height: 50px;
    display: flex;
    a{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.name_1_title{
    width: 100%;
    height: 120px;
    display: flex;
    
    .is{
        flex: 1;
        flex-direction: column;
        display: flex;
            justify-content: center;
            align-items: center;
        img{
            width: 80px;
            height: 80px;
        }
        span{
            width: 100%;
            display: inline-block;
            text-align: center;
        }
    }
}
.oo{
    width: 100%;
    height: 30px;
    display: flex;
    border-bottom: 1px solid #000; 
    .zuo{
        flex: 2.5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .zhong{
        flex: 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .you{
        flex: 2.5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.liebiao{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    .jj{
        width: 50%;
        height: 300px;
       img{
           width: 178px;
           height: 224px;
           margin-left:5px; 
       }
       p{
           font-size: 14px;
       }

    }
}
.xiang{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 375px;
    }
    span{
        font-size: 20px;
        color: red;
    }
    .gou{
        width: 100%;
        height: 50px;
        background: #de3d96;
        span{
            width: 100%;
            display: inline-block;
            text-align: center;
            line-height: 50px;
            color:#fff;
        }
    }
}
