* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
}

html, body, #root, #ll {
  width: 100%;
  height: 100%;
}

#ll {
  display: flex;
  flex-direction: column;
}

#ll .shang {
  flex: 1;
  display: flex;
}

#ll .shang .zuo {
  flex: 2.5;
  border-right: 1px solid #ccc;
}

#ll .shang .zuo p {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

#ll .shang .you {
  flex: 7.5;
}

#ll .xia {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#ll .xia .gouwu {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #ccc;
  display: flex;
  margin-top: 5px;
}

#ll .xia .gouwu img {
  width: 90px;
  height: 120px;
}

#ll .xia .gouwu span {
  color: red;
  font-size: 20px;
}

#ll .xia .gouwu button {
  width: 20px;
  height: 20px;
}

.ac {
  background: orange;
  color: #fff;
}

footer {
  border-top: 1px solid #ccc;
  width: 100%;
  height: 50px;
  display: flex;
}

footer a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_1_title {
  width: 100%;
  height: 120px;
  display: flex;
}

.name_1_title .is {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_1_title .is img {
  width: 80px;
  height: 80px;
}

.name_1_title .is span {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.oo {
  width: 100%;
  height: 30px;
  display: flex;
  border-bottom: 1px solid #000;
}

.oo .zuo {
  flex: 2.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oo .zhong {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oo .you {
  flex: 2.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.liebiao {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.liebiao .jj {
  width: 50%;
  height: 300px;
}

.liebiao .jj img {
  width: 178px;
  height: 224px;
  margin-left: 5px;
}

.liebiao .jj p {
  font-size: 14px;
}

.xiang {
  width: 100%;
  height: 100%;
}

.xiang img {
  width: 100%;
  height: 375px;
}

.xiang span {
  font-size: 20px;
  color: red;
}

.xiang .gou {
  width: 100%;
  height: 50px;
  background: #de3d96;
}

.xiang .gou span {
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
