.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.foods{
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.foods ul{
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
}
.foods ul li{
  flex: 1;
  text-align: center
}
.foods dd{
  display: flex;
  justify-content: space-between;
}
*{
  list-style: none;
}