*{
  margin: 0;
  padding: 0;
}
.shang{
  width: 100%;
  height: 50px;
  background: #8dc74b;
  display: flex;
}
.shang span{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ac{
  background: tomato;
  color: #fff;
}
img{
  width: 120px;
  height: 180px;
}
b{
  color: red;
}