*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.exam{
    display: flex;
    width: 100%;
    span:nth-child(1){
        height: 32px;
        width: 32px;
        border-radius: 100%;
        border: 1px solid #ccc;
    }
    .success{
        background: green !important;
    }
    .error{
        background: red;
    }
}

.dialog{
    height: 200px;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 50%;
    margin-top: -100px;
    background: #ccc;
  }